/*Primary Values*/
/*Secondary Values*/
/*light values*/
/*primary dark values*/
/*secondary dark values*/
/*Least used values*/
/* RGBA COLOR VALUES*/
/*black shadows*/
/*Font Color*/
/*Values for calc function*/
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showBtn {
  100% {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  /* 1REM === 10PX */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #fff, hsl(221deg, 93%, 89%)) no-repeat;
}

.section-loader-cont {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 8rem 2rem 2rem;
}
.section-loader-cont svg {
  width: 5rem;
  height: 5rem;
  fill: hsl(258deg, 91%, 63%);
  animation: load 1.5s infinite;
}

main {
  position: relative;
  border-top-left-radius: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0.1rem 0 0.5rem 0 rgba(200, 200, 200, 0.5);
}
main::after {
  content: "";
  position: absolute;
  top: 1%;
  left: -5%;
  right: 0;
  bottom: 0;
  z-index: -2;
  border-top-left-radius: 4rem;
  background: hsla(221deg, 93%, 89%, 0.5);
  box-shadow: -0.1rem 0.1rem 1rem 0.5rem hsl(221deg, 93%, 89%);
}
main::before {
  content: "";
  position: absolute;
  top: 0.5%;
  left: -2.5%;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-top-left-radius: 4rem;
  background: hsla(221deg, 93%, 89%, 0.5);
  box-shadow: inset 0px 0.1rem 0.5rem 0.3rem rgb(255, 255, 255), 0px 0.1rem 0.5rem 0.3rem hsl(221deg, 93%, 89%);
}

.website-logo > img {
  border-radius: 3rem;
  width: 100%;
}

.ref_img_cont img {
  width: 3rem;
}

.website_logo_container {
  font-size: 1.6rem;
  font-family: cursive;
}

/* Navbar */
li .nav__item--name {
  padding: 0.5rem;
  text-transform: capitalize;
  color: #000;
  transition: color 200ms;
  user-select: none;
}
li:hover .nav__item--name {
  color: hsl(258deg, 91%, 63%);
}

.acc_div > div:last-child {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  text-align: left;
  justify-self: start;
}
.acc_div > div:last-child p {
  margin: 0;
  margin-bottom: 1rem;
}

/* Statistics view */
.statistics_boxes {
  font-size: 1.3rem;
}

.dollar-percentage p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
}

.icon_heading p,
.dollar-percentage span {
  text-transform: uppercase;
  font-weight: bold;
}

.box-1 .icon_heading p,
.box-1 .dollar-percentage span {
  color: hsla(258deg, 91%, 63%, 0.7);
}

.box-2 .icon_heading p,
.box-2 .dollar-percentage span {
  color: hsl(221deg, 60%, 70%);
}

.box-3 .icon_heading p,
.box-3 .dollar-percentage span {
  color: hsl(191deg, 91%, 48%);
}

.box-4 .icon_heading p,
.box-4 .dollar-percentage span,
.box-4 .dollar-percentage p {
  color: hsl(202deg, 5%, 60%);
}

/* Referral Container And fund transfer */
.section_ref_transfer .referral_container {
  color: #000;
}
.section_ref_transfer .referral_container h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
.section_ref_transfer .referral_container h4 {
  font-size: 1.8rem;
  font-weight: 400;
}
.section_ref_transfer .referral_container a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
.section_ref_transfer .deposit_income {
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
}
.section_ref_transfer .deposit_income ~ div {
  padding: 0 1rem;
  font-size: 1.8rem;
}

.btn-purple {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1;
  margin: 2rem 0;
  padding: 1.3rem;
  border: none;
  background: none;
  border-radius: 0.6rem;
  background: linear-gradient(360deg, hsl(258deg, 91%, 63%), hsla(258deg, 91%, 63%, 0.4));
  box-shadow: 0.5rem 0 1rem 0 hsla(258deg, 91%, 63%, 0.4), 0 0.5rem 1rem 0.1rem hsla(258deg, 91%, 63%, 0.4);
}

.btn-grey-animated {
  border: none;
  background: none;
  padding: 1.6rem;
  background-color: hsl(269deg, 55%, 96%);
  color: #000;
  font-weight: 400;
  letter-spacing: 1;
  font-size: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  box-shadow: inset 0 0 0 0 hsla(258deg, 91%, 63%, 0.9);
}

.btn-light-blue {
  background: none;
  border: none;
  background-color: hsla(215deg, 98%, 55%, 0.5);
  color: #fff;
  padding: 1.8rem 1.6rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  margin-block: 3.2rem;
  cursor: pointer;
  pointer-events: none;
  transition: 500ms ease;
  opacity: 0;
  display: none;
}

.acc_div div:first-child {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: fit-content;
  padding: 0.8rem;
}
.acc_div div:first-child > svg {
  width: 3.5rem;
  height: 3.5rem;
}

.total_cont {
  background: linear-gradient(360deg, hsl(258deg, 91%, 63%), hsla(258deg, 91%, 63%, 0.4));
  box-shadow: 0px 5px 1.5rem 0px hsla(258deg, 91%, 63%, 0.7), 5px 0px 1.5rem 0px hsla(258deg, 91%, 63%, 0.7);
}
.total_cont div:first-child > svg {
  fill: hsl(258deg, 91%, 63%);
}

.wallet_cont {
  background: linear-gradient(360deg, hsl(215deg, 98%, 55%), hsla(215deg, 98%, 55%, 0.4));
  box-shadow: 0px 5px 1.5rem 0px hsla(215deg, 98%, 55%, 0.7), 5px 0px 1.5rem 0px hsla(215deg, 98%, 55%, 0.7);
}
.wallet_cont div:first-child svg rect, .wallet_cont div:first-child svg #Path {
  fill: hsla(215deg, 98%, 55%, 0.7);
  stroke: hsla(215deg, 98%, 55%, 0.7);
}
.wallet_cont div:first-child svg #lock {
  stroke: #fff;
  stroke-width: 5;
  stroke-width: 5;
}

.withdrawal_cont {
  background: linear-gradient(360deg, hsl(191deg, 91%, 48%), hsla(191deg, 91%, 48%, 0.4));
  box-shadow: 0px 5px 1.5rem 0px hsla(191deg, 91%, 48%, 0.7), 5px 0px 1.5rem 0px hsla(191deg, 91%, 48%, 0.7);
}
.withdrawal_cont div:first-child > svg {
  fill: hsl(191deg, 91%, 48%);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 12rem;
  height: 18rem;
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.box .icon_heading > div {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: 0.3rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.box .icon_heading > div > svg {
  width: 2rem;
  height: 2rem;
}
.box-1 {
  background: hsla(258deg, 91%, 63%, 0.5);
  box-shadow: 0.2rem 0.2rem 1.4rem 0 hsla(258deg, 91%, 63%, 0.7), 0.1rem 0.1rem 1.5rem 0 rgba(200, 200, 200, 0.3);
}
.box-1::before {
  background: linear-gradient(hsl(258deg, 91%, 63%), rgba(255, 255, 255, 0.3));
  top: 50%;
}
.box-1 .icon_heading > div {
  padding-left: 0.2rem;
}
.box-1 .icon_heading > div > svg {
  fill: hsla(258deg, 91%, 63%, 0.7);
}
.box-2 {
  background: hsla(221deg, 93%, 89%, 0.6);
  box-shadow: 0.2rem 0.2rem 1.4rem 0 hsl(221deg, 93%, 89%), 0.1rem 0.1rem 1.5rem 0 rgba(200, 200, 200, 0.5);
}
.box-2::before {
  background: linear-gradient(hsla(221deg, 60%, 70%, 0.8), rgba(255, 255, 255, 0.3));
  top: 20%;
}
.box-2 .icon_heading > div > svg {
  fill: hsl(221deg, 60%, 70%);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1rem;
}
.box-3 {
  background: hsla(191deg, 91%, 48%, 0.3);
  box-shadow: 0.2rem 0.2rem 1.4rem 0px hsla(191deg, 91%, 48%, 0.7), 0.1rem 0.1rem 1.5rem 0 rgba(200, 200, 200, 0.3);
}
.box-3::before {
  top: 50%;
  background: linear-gradient(hsla(191deg, 91%, 48%, 0.5), rgba(255, 255, 255, 0.2));
}
.box-3 .icon_heading > div > svg {
  fill: hsl(191deg, 91%, 48%);
  stroke: hsl(191deg, 91%, 48%);
  stroke-width: 1rem;
}
.box-4 {
  background: hsl(202deg, 5%, 95%);
  box-shadow: 0.2rem 0.2rem 1rem 0 hsl(202deg, 5%, 60%);
}
.box-4::before {
  top: 70%;
  background: linear-gradient(hsla(202deg, 5%, 60%, 0.8), hsla(0deg, 0%, 100%, 0.5));
}
.box-4 .icon_heading > div > svg {
  fill: hsl(202deg, 5%, 60%);
}

.referral_container {
  margin-top: 10rem;
}
.referral_container .ref_img_cont img {
  width: 100%;
}
.referral_container button svg {
  width: 2.5rem;
  height: 2.5rem;
}

.add_withdraw_container {
  background: hsla(221deg, 93%, 89%, 0.5);
}
.add_withdraw_container .btns_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
}
.add_withdraw_container .btns_container button.active {
  color: white;
  box-shadow: inset 20rem 0 0 0 hsla(258deg, 91%, 63%, 0.9);
}
.add_withdraw_container .deposit_income {
  background-color: hsla(215deg, 98%, 55%, 0.5);
  border-radius: 1.6rem;
  width: 90%;
  margin: 5rem auto;
  padding: 2rem 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem hsla(215deg, 98%, 55%, 0.3);
}
.add_withdraw_container .deposit_income ~ div > label {
  color: #000;
  font-size: 1.6rem;
}
.add_withdraw_container .deposit_income ~ div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem 0;
  padding: 1rem;
}
.add_withdraw_container .deposit_income ~ div > div > input {
  border-radius: 1.1rem;
  border: none;
  padding: 1.6rem;
  width: 100%;
  transition: all 150ms ease-in;
  font-size: 1.6rem;
  background: hsla(221deg, 93%, 89%, 0.8);
}
.add_withdraw_container .deposit_income ~ div > div > input:focus, .add_withdraw_container .deposit_income ~ div > div > input:hover {
  outline: 3px solid hsla(215deg, 98%, 55%, 0.3);
  outline-offset: 0.1rem;
}
.add_withdraw_container .deposit_income ~ div > div button.active {
  display: block;
  pointer-events: auto;
  animation: showBtn 500ms linear forwards;
}
.add_withdraw_container .deposit_income ~ div > div button.active:hover, .add_withdraw_container .deposit_income ~ div > div button.active:focus {
  background-color: hsla(215deg, 98%, 55%, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .website-logo-container {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  font-size: 1.3rem;
  font-family: cursive;
}
.header .website-logo-container .website-logo {
  width: 8rem;
}

.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  font-size: clamp(0.7rem, 3.5vw, 2.5rem);
  transition: all 300ms ease-in-out;
  background: linear-gradient(135deg, #fff, hsl(221deg, 93%, 89%));
  box-shadow: 0px 0.1rem 1.5rem 0.2rem rgba(200, 200, 200, 0.6);
}
.navbar.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
.navbar > ul {
  list-style: none;
  padding: 0 0 0 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.navbar > ul > li {
  display: flex;
  align-items: center;
  transition: all 400ms ease-in-out;
  width: fit-content;
  position: relative;
  margin-top: 1rem;
}
.navbar > ul > li svg {
  width: 0px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease-in-out;
  fill: hsl(258deg, 91%, 63%);
}
.navbar > ul > li:hover svg {
  opacity: 1;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.navbar > ul > li::before {
  content: "";
  position: absolute;
  left: 0.1rem;
  right: 0;
  bottom: -0.1rem;
  border-bottom: 4px solid hsl(258deg, 91%, 63%);
  border-radius: 1rem;
  transition: 300ms ease-in;
  transition-delay: 100ms;
  opacity: 0;
}
.navbar > ul > li:hover::before {
  transition: 300ms ease-in;
  opacity: 1;
}
.navbar > ul > li #income, .navbar > ul > li #invest_wallet {
  stroke: hsl(258deg, 91%, 63%);
  stroke-width: 1rem;
}

.user-profile-container_mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}
.user-profile-container_username {
  font-weight: bold;
  color: #000;
  margin-right: 1rem;
}
.user-profile-container_profile {
  padding: 0.8rem;
}
.user-profile-container_profile > img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  box-shadow: 0 0 1.6rem 0.5rem rgba(0, 0, 0, 0.3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0.5rem 1.6rem 0 rgba(200, 200, 200, 0.6);
}
header .nav_container_btn svg {
  transform: scale(1.1);
  fill: hsl(258deg, 91%, 63%);
}

.account_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem 0;
  padding: 8rem 0;
}
.account_info .acc_div {
  width: 25rem;
  height: 13rem;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 1.6rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 1.8rem;
}

.canvas {
  margin: 8rem 0;
  padding: 0 1.6rem;
}

.statistics_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem 2rem;
  place-items: center;
  padding: 1rem;
}

.referral_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: hsla(258deg, 91%, 63%, 0.3);
  padding: 0 1rem 1.5rem 1rem;
  color: #000;
}

.user_profile_container_desktop {
  display: none;
}

.canvas div {
  margin: 4.8rem 0;
}

.hidden {
  display: none;
}

.website_name {
  display: none;
}

/*# sourceMappingURL=main.css.map */
