/*Primary Values*/
/*Secondary Values*/
/*light values*/
/*primary dark values*/
/*secondary dark values*/
/*Least used values*/
/* RGBA COLOR VALUES*/
/*black shadows*/
/*Font Color*/
/*Values for calc function*/
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #fff, hsl(221deg, 93%, 89%)) no-repeat;
}

.section-loader-cont {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem;
  padding-top: 10rem;
}
.section-loader-cont svg {
  width: 5rem;
  height: 5rem;
  fill: hsl(258deg, 91%, 63%);
  animation: load 1.5s infinite;
}

main {
  position: relative;
  border-top-left-radius: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  box-shadow: 0px 1px 10px 0px #fff;
  background-color: #fff;
  box-shadow: 1px 0px 5px 0px rgba(200, 200, 200, 0.5);
  min-height: 100vh;
}
main::after {
  content: "";
  position: absolute;
  left: -5%;
  right: 0;
  top: 1%;
  bottom: 0;
  z-index: -2;
  border-top-left-radius: 4rem;
  background: hsla(221deg, 93%, 89%, 0.5);
  box-shadow: -1px 1px 10px 5px hsl(221deg, 93%, 89%);
}
main::before {
  content: "";
  position: absolute;
  left: -2.5%;
  right: 0;
  top: 0.5%;
  bottom: 0;
  z-index: -1;
  border-top-left-radius: 4rem;
  background: hsla(221deg, 93%, 89%, 0.5);
  box-shadow: inset 0px 1px 5px 3px rgb(255, 255, 255), 0px 1px 5px 3px hsl(221deg, 93%, 89%);
}

.website-logo > img {
  border-radius: 3rem;
  width: 100%;
}

.ref_img_cont img {
  width: 3rem;
}

.website_logo_container {
  font-size: 1.6rem;
  font-family: cursive;
}

.acc_div > div:last-child {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  text-align: left;
  justify-self: start;
}
.acc_div > div:last-child p {
  margin: 0;
  margin-bottom: 1rem;
}

.acc_div div:first-child {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: fit-content;
  padding: 0.8rem;
}
.acc_div div:first-child > svg {
  width: 3.5rem;
  height: 3.5rem;
}

.total_cont {
  background: linear-gradient(360deg, hsl(258deg, 91%, 63%), hsla(258deg, 91%, 63%, 0.4));
  box-shadow: 0px 5px 15px 0px hsla(258deg, 91%, 63%, 0.7), 5px 0px 15px 0px hsla(258deg, 91%, 63%, 0.7);
}
.total_cont div:first-child > svg {
  fill: hsl(258deg, 91%, 63%);
}

.wallet_cont {
  background: linear-gradient(360deg, hsl(215deg, 98%, 55%), hsla(215deg, 98%, 55%, 0.4));
  box-shadow: 0px 5px 15px 0px hsla(215deg, 98%, 55%, 0.7), 5px 0px 15px 0px hsla(215deg, 98%, 55%, 0.7);
}
.wallet_cont div:first-child svg rect, .wallet_cont div:first-child svg #Path {
  fill: hsla(215deg, 98%, 55%, 0.7);
  stroke: hsla(215deg, 98%, 55%, 0.7);
}
.wallet_cont div:first-child svg #lock {
  stroke: #fff;
  stroke-width: 5;
  stroke-width: 5;
}

.withdrawal_cont {
  background: linear-gradient(360deg, hsl(191deg, 91%, 48%), hsla(191deg, 91%, 48%, 0.4));
  box-shadow: 0px 5px 15px 0px hsla(191deg, 91%, 48%, 0.7), 5px 0px 15px 0px hsla(191deg, 91%, 48%, 0.7);
}
.withdrawal_cont div:first-child > svg {
  fill: hsl(191deg, 91%, 48%);
}

.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  font-size: clamp(0.7rem, 3.5vw, 2.5rem);
  transition: all 300ms ease-in-out;
  background: linear-gradient(135deg, #fff, hsl(221deg, 93%, 89%));
  box-shadow: 0px 1px 15px 2px rgba(200, 200, 200, 0.6);
}
.navbar.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
.navbar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.navbar > ul > li {
  padding: 0.5rem;
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
  transition: all 400ms ease-in-out;
  width: fit-content;
  position: relative;
}
.navbar > ul > li svg {
  width: 0px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease-in-out;
  fill: hsl(258deg, 91%, 63%);
}
.navbar > ul > li #income, .navbar > ul > li #invest_wallet {
  stroke: hsl(258deg, 91%, 63%);
  stroke-width: 10px;
}
.navbar > ul > li:hover svg {
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.navbar > ul > li::before {
  content: "";
  position: absolute;
  left: 5px;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid hsl(258deg, 91%, 63%);
  border-radius: 1rem;
  transition: 300ms ease-in;
  transition-delay: 100ms;
  opacity: 0;
}
.navbar > ul > li:hover::before {
  transition: 300ms ease-in;
  opacity: 1;
}

.user-profile-container_mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.user-profile-container_username {
  font-weight: bold;
  color: #000;
}
.user-profile-container_profile {
  padding: 0.5rem;
}
.user-profile-container_profile > img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 0px 0px 15px 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .website-logo-container {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  font-size: 1.3rem;
  font-family: cursive;
}
.header .website-logo-container .website-logo {
  width: 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0.5rem 1.6rem 0 rgba(200, 200, 200, 0.6);
}
header .nav_container_btn svg {
  transform: scale(1.1);
  fill: hsl(258deg, 91%, 63%);
}

.account_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem 0;
  padding: 8rem 0;
}
.account_info .acc_div {
  width: 25rem;
  height: 10rem;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 1rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 1.8rem;
}

.user_profile_container_desktop {
  display: none;
}

.canvas div {
  margin: 3rem 0;
}

.hidden {
  display: none;
}

.website_name {
  display: none;
}

/*# sourceMappingURL=main.css.map */
