.loader-cont {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem;
  padding-top: 10rem;
}

.loader svg {
  width: 5rem;
  height: 5rem;
  fill: hsla(258, 91%, 63%, 1);
  animation: load 1.5s infinite;
}

@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}