:root {
  --primary-color: 265, 90%, 68%;
  --bg-primary-color: 221, 93%, 89%;
  --dark-bg-primary-color: 221, 60%, 70%;
  --secondary-color: #fff;
  --purple: 258, 91%, 63%;
  --silver: 202, 5%, 95%;
  --dark-silver: 202, 5%, 60%;
  --second-layer-left: -5%;
  --second-layer-top: 1%;
  --total-income-div: 215, 98%, 55%;

  /* RGBA COLOR VALUES*/
  --shadow: 200, 200, 200;
  --dark-purple: 75, 38, 105;
  --blue: 89, 150, 247;
  --cyan: 11, 193, 234;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 3vw, 2.2rem);
}

.canvas div {
  margin: 3rem 0;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, var(--secondary-color), hsla(var(--bg-primary-color), 1.0)) no-repeat;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

header {
  padding: 0.5rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(var(--shadow), 1);
  -moz-box-shadow: 1px 0px 5px 0px rgba(var(--shadow), 1);
  box-shadow: 1px 0px 5px 0px rgba(var(--shadow), 1);
  overflow: hidden;
}

header,
header>.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .website_logo_container {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  font-size: 1.3rem;
  font-family: cursive;
}

.website_name {
  text-shadow: 5px 5px 10px #000;
}

.website_logo_container .website_logo>img {
  border-radius: 3rem;
}

.nav_btn_container {
  padding-right: 0.5rem;
}

.nav_btn_container i {
  transform: scale(2);
}

.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background: linear-gradient(135deg, var(--secondary-color), hsla(var(--bg-primary-color), 1.0));
  box-shadow: 0px 1px 15px 2px rgba(var(--shadow), 0.6);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.navbar.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

ul li {
  padding: 0.5rem;
  text-transform: capitalize;
}

.nav_item_name {
  position: relative;
  display: flex;
}

.nav_item_name::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30%;
  border-bottom: 4px solid hsla(var(--primary-color), 1.0);
  border-radius: 1rem;
  transition: 300ms ease-in;
  transition-delay: 100ms;
  opacity: 0;
}

.nav_item_name:hover::before {
  transition: 300ms ease-in;
  opacity: 1;
}


.user_profile_container_mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.user_profile_container .username {
  font-weight: bold;
}

.user_profile_container .user_profile {
  padding: 0.5rem;
}

.user_profile_container .user_profile>img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 0px 0px 15px 0px;
}

img {
  width: 100px;
}

svg {
  width: 20px;
  height: 10px;
  display: none;
}

main {
  position: relative;
  border-radius: 3rem 0 0 0;
  margin-top: 2rem;
  margin-left: 4rem;
  padding-top: 2rem;
  box-shadow: 0px 1px 10px 0px #fff;
  background-color: #fff;
  box-shadow: 1px 0px 5px 0px rgba(var(--shadow), 0.5);
}

/*first layer*/
main::before {
  content: "";
  position: absolute;
  left: calc(var(--second-layer-left) / 2);
  right: 0;
  top: calc(var(--second-layer-top) / 2);
  bottom: 0;
  z-index: -1;
  border-radius: 3rem 0 0 0;
  background: hsla(var(--bg-primary-color), 0.5);
  box-shadow: inset 0px 1px 5px 3px #fff,
    0px 1px 5px 3px hsla(var(--bg-primary-color), 1);
}


/*second layer*/
main::after {
  content: "";
  position: absolute;
  left: var(--second-layer-left);
  right: 0;
  top: var(--second-layer-top);
  bottom: 0;
  z-index: -2;
  border-radius: 3rem 0 0 0;
  background: hsla(var(--bg-primary-color), 0.5);
  box-shadow: 0px 1px 10px 5px hsla(var(--bg-primary-color), 1);
}

.account_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem 0;
  padding: 1.5rem 0;
}

.account_info .acc_div {
  width: 70%;
  height: 8rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acc_div>div {
  color: #fff;
  font-size: clamp(0.8rem, 3.5vw, 2.5rem);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.total_cont {
  background: linear-gradient(360deg, hsla(var(--purple), 1.0), hsla(var(--purple), 0.4));
  -webkit-box-shadow: 0px 5px 15px 0px hsla(var(--purple), 0.7), 5px 0px 15px 0px hsla(var(--purple), 0.7);
  -moz-box-shadow: 0px 5px 15px 0px hsla(var(--purple), 0.7), 5px 0px 15px 0px hsla(var(--purple), 0.7);
  box-shadow: 0px 5px 15px 0px hsla(var(--purple), 0.7), 5px 0px 15px 0px hsla(var(--purple), 0.7);
}

.wallet_cont {
  background: linear-gradient(360deg, rgba(var(--blue), 1.0), rgba(var(--blue), 0.4));
  -webkit-box-shadow: 0px 5px 15px 0px rgba(var(--blue), 0.7), 5px 0px 15px 0px rgba(var(--blue), 0.7);
  -moz-box-shadow: 0px 5px 15px 0px rgba(var(--blue), 0.7), 5px 0px 15px 0px rgba(var(--blue), 0.7);
  box-shadow: 0px 5px 15px 0px rgba(var(--blue), 0.7), 5px 0px 15px 0px rgba(var(--blue), 0.7);
}

.withdrawal_cont {
  background: linear-gradient(360deg, rgba(var(--cyan), 1.0), rgba(var(--cyan), 0.4));
  -webkit-box-shadow: 0px 5px 15px 0px rgba(var(--cyan), 0.7), 5px 0px 15px 0px rgba(var(--cyan), 0.7);
  -moz-box-shadow: 0px 5px 15px 0px rgba(var(--cyan), 0.7), 5px 0px 15px 0px rgba(var(--cyan), 0.7);
  box-shadow: 0px 5px 15px 0px rgba(var(--cyan), 0.7), 5px 0px 15px 0px rgba(var(--cyan), 0.7);
}

.canvas {
  margin: 5rem 0;
  padding: 0 1rem;
}

.statistics_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding: 1rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 10rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.box-1 {
  background: hsla(var(--purple), 0.3);
  box-shadow: 2px 2px 14px 0px hsla(var(--purple), 0.5), 1px 1px 15px 0px rgba(var(--shadow), 0.3);
}

.box-1::before {
  background: linear-gradient(rgba(var(--dark-purple), 1), rgba(255, 255, 255, 0.3));
  top: 50%;
}

.box-2 {
  background: hsla(var(--bg-primary-color), 0.6);
  box-shadow: 2px 2px 14px 0px hsla(var(--bg-primary-color), 1), 1px 1px 15px 0px rgba(var(--shadow), 0.5);
}

.box-2::before {
  background: linear-gradient(hsla(var(--dark-bg-primary-color), 1), rgba(255, 255, 255, 0.3));
  top: 20%;
}

.box-3 {
  background: rgba(var(--cyan), 0.1);
  box-shadow: 2px 2px 14px 0px rgba(var(--cyan), 0.4), 1px 1px 15px 0px rgba(var(--shadow), 0.3);
}

.box-3::before {
  top: 50%;
  background: linear-gradient(rgba(var(--cyan), 0.5), rgba(255, 255, 255, 0.2));
}

.box-4 {
  background: hsla(var(--silver), 1);
  box-shadow: 2px 2px 10px 0px hsla(var(--dark-silver), 1);
}

.box-4::before {
  top: 70%;
  background: linear-gradient(hsla(var(--dark-silver), 0.8), hsla(0, 0%, 100%, 0.5));
}

.icon_heading p,
.dollar_percentage span {
  text-transform: uppercase;
  font-weight: bold;
}

.dollar_percentage p {
  font-size: 1.1rem;
  font-weight: 500;
}

.box-1 .icon_heading p,
.box-1 .dollar_percentage span {
  color: hsla(var(--purple), 0.7);
}

.box-2 .icon_heading p,
.box-2 .dollar_percentage span {
  color: hsla(var(--dark-bg-primary-color), 1);
}

.box-3 .icon_heading p,
.box-3 .dollar_percentage span {
  color: rgba(var(--cyan), 1);
}

.box-4 .icon_heading p,
.box-4 .dollar_percentage span {
  color: hsla(var(--dark-silver), 1);
}


.referral_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  background: hsla(var(--purple), 0.2);
  padding: 0 1rem 1.5rem 1rem;
}

.referral_container h4 {
  font-weight: 400;
}

.referral_container a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.referral_container button {
  border: none;
  background: none;
  background-color: hsla(var(--purple), 0.7);
  margin: 1.5rem 0;
  padding: 0.8rem;
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(360deg, hsla(var(--purple), 1.0), hsla(var(--purple), 0.4));
  -webkit-box-shadow: 5px 0px 10px 0px hsla(var(--purple), 0.5), 0px 5px 10px 1px hsla(var(--purple), 0.5);
  -moz-box-shadow: 5px 0px 10px 0px hsla(var(--purple), 0.5), 0px 5px 10px 1px hsla(var(--purple), 0.5);
  box-shadow: 5px 0px 10px 0px hsla(var(--purple), 0.5), 0px 5px 10px 1px hsla(var(--purple), 0.5);
}

.add_withdraw_container {
  background: hsla(var(--bg-primary-color), 0.8);
}

.add_withdraw_container .btns_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
}

.add_withdraw_container .btns_container button {
  border: none;
  background: none;
  padding: 1rem;
  background-color: hsla(269, 55%, 96%, 1.0);
  color: #000;
  transition: all 200ms ease-in-out;
  font-weight: 400;
  letter-spacing: 1;
  font-size: 1.1rem;
}

.add_withdraw_container .btns_container button.active {
  background-color: hsla(var(--purple), 0.9);
  color: white;
}

.deposit_income {
  background-color: hsla(var(--total-income-div), 0.5);
  border-radius: 1rem;
  width: 90%;
  color: #fff;
  padding: 0.8rem 1rem;
  text-align: center;
  margin: 2rem auto;
  box-shadow: 1px 0px 10px 1px hsla(var(--total-income-div), 0.5);
}

.deposit_income~div {
  padding: 0 1rem;
  font-size: 1rem;
}

.deposit_income~div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem 0;
  padding: 0.5rem 0;
}

.deposit_income~div>div>input {
  border-radius: 0.7rem;
  border: none;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  transition: all 150ms ease-in;
}

.deposit_income~div>div>input:focus,
.deposit_income~div>div>input:hover {
  outline: 3px solid hsla(var(--bg-primary-color), 1);
}

.deposit_income~div>div>button {
  background: none;
  border: none;
  background-color: hsla(var(--total-income-div), 0.2);
  color: #fff;
  padding: 3.1rem 1.5rem;
  border-radius: 10rem;
  font-size: 1.1rem;
  transition: 200ms ease-in-out;
}


.deposit_income~div>div>button:hover,
.deposit_income~div>div>button:focus {
  background-color: hsla(var(--total-income-div), 0.5);
}

/* CONVERT ALL THE RGBA TO HSLA OR VICE VERSA LATER*/
