.login__heading {
  justify-self: center !important;
}

.login__form {
  justify-self: center;
  color: var(--font-primary);
  width: 60%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  margin-top: 1rem;
  row-gap: 2rem;


  & button {
    justify-self: center;
  }
}

.signup {
  font-size: 1.4rem;

  &>a {
    margin-left: .5rem;
  }
}