.section__error {
  text-align: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  display: none;
  transition: all .2s ease-in-out;

  &.def {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;
    z-index: 3;
    padding: 1rem 3rem;
    border: 1px solid var(--font-primary);
    border-radius: .5rem;
    background: var(--white-bg);
    box-shadow: 0 1rem 1rem 1rem var(--shadow-alpha-three);

    &>p {
      font-size: 1.3rem;
      color: var(--font-primary);
    }
  }

  &.error {
    text-align: center;
    border-radius: 3px;
    background: var(--error);
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;

    &>p {
      color: red;
    }
  }

  &.success {
    text-align: center;
    border-radius: 3px;
    background: var(--success);
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;

    &>p {
      color: hsla(109, 87%, 28%, 1);
    }
  }
}