.section__error {
  text-align: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  display: none;
  transition: all .2s ease-in-out;

  &.default {
    text-align: center;
    padding-top: 10rem;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;
  }

  &.error {
    text-align: center;
    border-radius: 3px;
    background: var(--error);
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;

    &>p {
      color: red;
    }
  }

  &.success {
    text-align: center;
    border-radius: 3px;
    background: var(--success);
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;

    &>p {
      color: hsla(109, 87%, 28%, 1);
    }
  }
}