.form__section {
  display: grid;
  grid-template-columns: 1fr;
  border-top-left-radius: $border-top-left-radius;
  position: relative;

  &__logo--lg {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, transparent 50%, var(--white-bg));
    }
  }

  &__img {
    width: 100%;
    border-top-left-radius: $border-top-left-radius;
  }
}

.form__container {
  width: 100%;
  display: grid;
  transform: translateY(-4rem);
  border-radius: 2rem 2rem 0 0;
  border-top: 1px solid #CACACA;

  //blur effecr for form 
  &--blur {
    backdrop-filter: blur(20px);
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--font-primary);
  }
}

.input__label {
  position: relative;

  &__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.3rem;
    padding: .8rem;
    border: none;
    border-radius: 2px;
    outline: .5px solid var(--font-primary);
    transition: all .2s ease-in-out;

    &:focus:invalid {
      outline: 2px solid red;
    }

    &:focus:valid {
      outline: 2px solid #31A61E;
    }
  }

  &__label {
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 1.3rem;
    padding: 0 .2rem;
    transition: all .3s;
    color: var(--grey-light);
    letter-spacing: 1px;
    transform: translateX(1rem) scale(1);
  }

  &__input:focus+&__label {
    padding-inline: .5rem;
    color: var(--font-primary);
    background: var(--white-bg);
    top: -30%;
    transform: translateX(1rem) scale(.9);
  }

  &__password {
    position: absolute;
    transform: translateY(.5rem);
    right: 5%;
    fill: var(--grey-light);
  }
}

.form__btn {
  width: 30%;
  border: none;
  padding: 1rem 1.5rem;
  transform: translateY(0);
  color: var(--font-primary);
  border-radius: $border-top-left-radius;
  background: var(--blue-primary-alpha-three);
  box-shadow: 0 1rem 1rem 0 var(--shadow-alpha-five);
  transition: width .3s ease-in-out .2s,
    box-shadow .2s ease-in-out,
    transform .2s ease-in-out;

  &:focus,
  &:hover,
  &:active {
    width: 60%;
    box-shadow: 0 1rem 1rem 0 var(--shadow-alpha-three);
    transform: translateY(-.5rem);
  }
}

.signup--login {
  font-size: 1.4rem;

  &>a {
    margin-left: .5rem;
    color: var(--blue-primary);
  }
}

.not-empty {
  top: -30%;
  padding-inline: .5rem !important;
  color: var(--font-primary) !important;
  background: var(--white-bg) !important;
}