.section {
  padding: 1rem 1rem 3rem 2rem;
  min-height: $section-min-height;
  background: var(--bg-secondary);
  color: var(--font-primary);

  &_items {
    display: flex;
    grid-column: span 2;
    justify-content: space-between;
    border-radius: 0.3rem;
    box-shadow: .1rem .1rem 5px 0 var(--medium-shadow-black);
    padding-inline: 0.5rem;
  }
}