*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  /* 1REM === 10PX */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(135deg, $bg-secondary, $bg-primary) no-repeat;
}

.section-loader-cont {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 8rem 2rem 2rem;

  & svg {
    width: 5rem;
    height: 5rem;
    fill: hsla(258, 91%, 63%, 1);
    animation: load 1.5s infinite;
  }
}

main {
  position: relative;
  border-top-left-radius: $border-top-left-radius;
  margin-top: 4rem;
  margin-left: 4rem;
  min-height: 100vh;
  background-color: $white-bg;
  box-shadow: .1rem 0 .5rem 0 $shadow-alpha-five;

  &::after {
    content: "";
    position: absolute;
    top: $second-layer-top;
    left: $second-layer-left;
    right: 0;
    bottom: 0;
    z-index: -2;
    border-top-left-radius: $border-top-left-radius;
    background: $bg-primary-alpha-five;
    box-shadow: -.1rem .1rem 1rem .5rem $layer-two-shadow;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc($second-layer-top / 2);
    left: calc($second-layer-left / 2);
    right: 0;
    bottom: 0;
    z-index: -1;
    border-top-left-radius: $border-top-left-radius;
    background: $bg-primary-alpha-five;
    box-shadow: inset 0px .1rem .5rem .3rem $layer-one, 0px .1rem .5rem .3rem $layer-one-secondary;
  }
}

.website-logo>img {
  border-radius: 3rem;
  width: 100%;
}

.ref_img_cont img {
  width: 3rem;
}
