*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(135deg, var(--bg-secondary), var(--bg-primary)) no-repeat;
}

.website-logo>img {
  border-radius: 3rem;
  width:100%;
}

.ref_img_cont img {
  width: 3rem;
}
