.website_logo_container {
  font-size: 1.6rem;
  font-family: cursive;
}

/* Navbar */
li {
  & .nav__item--name {
    padding: 0.5rem;
    text-transform: capitalize;
    color: $font-primary;
    transition: color 200ms;
    user-select: none;
  }

  &:hover .nav__item--name {
    color: $border-primary;
  }
}

.acc_div>div:last-child {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .3rem;
  text-transform: capitalize;
  text-align: left;
  justify-self: start;

  & p {
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Statistics view */
.statistics_boxes {
  font-size: 1.3rem;
}
.dollar-percentage p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: $font-primary;
}


.icon_heading p,
.dollar-percentage span {
  text-transform: uppercase;
  font-weight: bold;
}

.box-1 .icon_heading p,
.box-1 .dollar-percentage span {
  color: $purple-primary-alpha-seven;
}

.box-2 .icon_heading p,
.box-2 .dollar-percentage span {
  color: $dark-bg-primary-color;
}

.box-3 .icon_heading p,
.box-3 .dollar-percentage span {
  color: $cyan-primary;
}

.box-4 .icon_heading p,
.box-4 .dollar-percentage span,
.box-4 .dollar-percentage p {
  color: $dark-silver-primary;
}

/* Referral Container And fund transfer */
.section_ref_transfer {

  .referral_container {
    color: $font-primary;

    & h2 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    & h4 {
      font-size: 1.8rem;
      font-weight: 400;
    }

    & a {
      text-decoration: none;
      font-size: 1.6rem;
      color: $font-primary;
    }
  }

  .deposit_income {
    color: #fff;
    text-align: center;
    font-size: 1.7rem;

    &~div {
      padding: 0 1rem;
      font-size: 1.8rem;
    }

  }
}
