.u-letter-spacing-small {
  letter-spacing: .1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.sm-svg {
  width: 2rem;
  height: 2rem;
}

.md-svg {
  width: 3rem;
  height: 3rem;
}

.lg-svg {
  width: 4rem;
  height: 4rem;
}

.press-btn {
  transform: translateY(.5rem) !important;
}