header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
  background: $nav-bg;
  box-shadow: 0px 0.5rem 1.6rem 0 $shadow-alpha-six;

  .nav_btn_container svg {
    transform: scale(1.1);
    fill: $border-primary;
  }
}



//hide profile for mob view 
//temporary placed here
.user_profile_container_desktop {
  display: none;
}

.canvas div {
  margin: 3rem 0;
}

.hidden {
  display: none;
}

.website_name {
  display: none;
}
