header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



//hide profile for mob view 
//temporary placed here
.user_profile_container_desktop {
  display: none;
}

.canvas div {
  margin: 3rem 0;
}

.hidden {
  display: none;
}

.website_name {
  display: none;
}
