.invest-wallet {
  line-height: 110%;
  letter-spacing: 1px;

  &__details {
    row-gap: .5rem;
    font-size: 1.4rem;

    &>* {
      background: var(--bg-primary-alpha-five);
      width: 100%;
      /* opacity: 0; */
      transition: width 1500ms cubic-bezier(.02, .18, .42, 1.36), opacity 2s ease-in-out;
    }

    &>div.active {
      width: 100%;
      opacity: 1;
    }
  }

  &__cards-cont {
    margin-top: 3rem;
  }

  .invest-card {
    border-radius: .5rem;
    padding: 1rem 1.5rem;

    &>p {
      margin-left: auto;
      font-size: 1.5rem;
    }

    &>span {
      align-self: end;
      text-decoration: underline;
      font-size: 1rem;
    }
  }

  .invest-card-bitcoin {
    //goldenrod
    background: hsla(43, 74%, 70%, .3);
    box-shadow: .3rem .5rem .5rem 0 hsla(48, 83%, 80%, .2);
    color: hsla(43, 74%, 50%, 1);
  }

  &__heading {
    gap: 0 1rem;

    &>h4 {
      font-size: 1.5rem;
    }

    &>svg {
      fill: currentColor;
    }
  }
}