.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  & .website_logo_container {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    font-size: 1.3rem;
    font-family: cursive;

    & .website_logo>img {
      border-radius: 3rem;
      width: 10%;
    }
  }
}
