.acc_div div:first-child {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: fit-content;
  padding: 0.8rem;

  &>svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.total_cont {
  background: linear-gradient(360deg, var(--purple-primary), var(--purple-primary-alpha-four));
  box-shadow: .5rem .5rem 1rem 0 var(--purple-primary-alpha-seven);

  & div:first-child>svg {
    fill: var(--purple-primary);
  }
}

.wallet_cont {
  background: linear-gradient(360deg, var(--blue-secondary), var(--blue-secondary-alpha-four));
  box-shadow: .5rem .5rem 1rem 0 var(--blue-secondary-alpha-seven);

  & div:first-child {}

  & svg {
    fill: var(--blue-secondary-alpha-seven);
  }
}

.withdrawal_cont {
  background: linear-gradient(360deg, var(--cyan-primary), var(--cyan-primary-alpha-four));
  box-shadow: .5rem .5rem 1rem 0 var(--cyan-primary-alpha-seven);

  & div:first-child>svg {
    fill: var(--cyan-primary);
  }
}