.section__bottom {
  margin-top: 10rem;
  
  &-ref {
    &__img-cont {
      width: 35rem;
      
      & img {
        width: 100%;
      }
    }
  }

  & button svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
